fastapi
uvicorn[standard]
pydantic
pydantic-settings
google-genai
langchain
langchain-google-genai
langchain-community
python-dotenv
motor
bcrypt==3.2.2
pyjwt
python-multipart
beanie
passlib[bcrypt]
cloudinary
email-validator
zxing-cpp
pillow
boto3

